/********* IMPORTS *********/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

/********* VARIABLES *********/
:root {
  /* Fonts */
  --font-family: 'Poppins';

  /* Colors */
  --hero-purple: #5d42ff;
  --hero-purple-highlighted: #4628ff;
  --hero-green: #4FD362;
  --hero-red: #D3624F;

  /* Common */
  --two-pane-divider-size: 5px;
  --two-pane-divider-color: #1b2631;

  /* Code Display */
  --code-padding-vertical: 2px;

  /* Sidebar */
  --tint-opacity: .9;
  --sidebar-min-width: 360px;
  --sidebar-width: 33%;


  /* Nav Bar */
  --hamburger-icon-width: 32px;
  --hamburger-icon-height: 32px;

  /* Learning Module */
  --learning-module-height: calc(100vh - 6.5em);
}

/********* GLOBAL STYLES *********/
body {
  margin: 0;
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
  font-weight: 400;
  overflow: hidden;
}

h1 {
  font-weight: 700;
}

a {
  color: var(--hero-purple);
  text-decoration: none;
}

a:hover {
  color: var(--hero-purple-highlighted);
}

.hidden {
  display: none;
}

.bold {
  font-weight: 700;
}

.App {
  height: 100vh;
}

/* TODO: REMOVE ONCE TEXT AND VISUALIZATION CONTENT IMPLEMENTED */
.filler-text {
  font-size: 14pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/********* NAV BAR COMPONENT *********/
.nav-bar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25em 1.5em 0.25em 1.25em;
  background-color: var(--hero-navy);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 3em;
}

/* Adjust modules button, title, and links container to have the same width */
.nav-back-btn, .nav-bar-container h1, .nav-links-container {
  flex: 1;
}

.nav-back-btn {
  text-align: left;
}

.nav-bar-container h1 {
  text-align: center;
}

.nav-links-container {
  text-align: right;
}

.nav-bar-container h1 {
  margin: 0;
}

.nav-bar-container h1 > a {
  color: black;
  margin: 0;
  font-size: 25px;
}

.nav-bar-container h1 > a:hover {
  color: var(--hero-purple-highlighted);
}

.nav-bar-container a {
  text-decoration: none;
  margin: 0;
  font-size: 16px;
}

.user-account-circle {
  background-color: var(--hero-purple);
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.user-account-circle:hover {
  cursor: pointer;
}

.nav-links-container {
  float: right;
}

.nav-links-container a {
  margin-left: 2em;
  color: var(--hero-purple);
  position: relative;
}

/*
  Animating Underline in Navigation Bar
  Source: http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
.nav-links-container a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hero-purple);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-links-container a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-back-btn {
  display: flex;
  align-items: center;
  background-color: var(--hero-yellow);
  font-weight: 500;
  float: left;
}

.nav-back-btn:hover {
  background-color: var(--hero-yellow-hover);
  cursor: pointer;
}

.nav-back-btn a {
  color: black;
  margin-left: 0.3em;
}

.hamburger-icon {
  width: var(--hamburger-icon-width);
  height: var(--hamburger-icon-height);
}

/********* Sidebar *********/
.sidebar {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: var(--sidebar-min-width);
  width: var(--sidebar-width);
  background: var(--hero-purple);
}

@keyframes sidebarFadeIn {
  0% {
    min-width: 0;
    width: 0;
  }
  100% {
    min-width: var(--sidebar-min-width);
    width: var(--sidebar-width);
  }
}

@keyframes sidebarFadeOut {
  0% {
    min-width: var(--sidebar-min-width);
    width: var(--sidebar-width);
  }
  100% {
    min-width: 0;
    width: 0;
  }
}

.page-tint {
  z-index: 1;
  opacity: var(--tint-opacity);
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes tintFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--tint-opacity);
  }
}

@keyframes tintFadeOut {
  0% {
    opacity: var(--tint-opacity);
  }
  100% {
    opacity: 0;
  }
}

/********* CODE DISPLAY COMPONENT *********/
.two-column-container {
  display: flex;
  height: 100%;
}

.two-column-container-horizontal {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* TODO make these look cleaner */
.two-column-divider {
  background-color: var(--two-pane-divider-color);
  cursor: col-resize;
  width: var(--two-pane-divider-size);
}

/* TODO make these look cleaner */
.two-column-divider-horizontal {
  background-color: var(--two-pane-divider-color);
  width: 100%;
  height: var(--two-pane-divider-size);
  cursor: row-resize;
}

.pane {
  overflow: hidden;
  height: 100%;
}

.pane-resizing {
  overflow: hidden;
  cursor: col-resize;
}

.pane-resizing-horizontal {
  overflow: hidden;
  cursor: row-resize;
}

/********* LEARNING MODULE *********/
.learning-module-container {
  border-radius: 5px;
  margin: 0;
  height: var(--learning-module-height);
}

/********* ANIMATION BUTTONS *********/
.animate-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  bottom: 0;
  margin: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  height: 3em;
}

.animate-btn-container button {
  background-color: var(--hero-purple);
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1em;
  font-weight: bold;
  margin: 0 0.5em 0em 0.5em;
}

/********* CODE DISPLAY *********/
.code-display {
  overflow: scroll;
  height: 100%;
}

.code-format {
  transition: position 1s;
  margin: 0;
}

.hljs {
  /* highlight JS created class */
  padding: var(
    --code-padding-vertical
  ) !important; /* important to override any of the highlight styles */
}

@keyframes delay-overflow {
  from {
    overflow-y: hidden;
  }
}

.chunk {
  min-width: 100%;
}

.chunk-open {
  max-height: 1000px;
  /* overflow-y: hidden; */
  transition: 1s;
  animation: 1s delay-overflow;
}

.chunk-collapsed {
  max-height: 18px; /* TODO this should probably be calculated somehow */
  overflow-y: hidden;
  transition: 0.5s;
}

.hidden-chunk {
  background-color: lightgray;
}

.selected-line {
  background-color: var(--hero-yellow);
}

.code-line {
  min-width: 100%;
  display: flex;
  font-size: 15px;
  font-family: monospace;
}

.code-content {
  width: 100%;
  margin-left: 10px;
}

.line-number {
  min-width: 15px;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: var(--code-padding-vertical);
  padding-bottom: var(--code-padding-vertical);
  user-select: none;
}

/* Chevrons based on https://codepen.io/egf/pen/jzylw */
.chevron {
  transition: 0.5s;
}

.chevron::before {
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 5px;
  transform: rotate(-45deg);
  width: 0.45em;
  transition: 0.5s;
  vertical-align: top;
}

.chevron:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.chevron.right:before {
  transform: rotate(45deg);
}

.chevron.bottom:before {
  transform: rotate(135deg);
}
