/********* VARIABLES *********/
:root {
  /* Fonts */
  --font-family: "Poppins";

  /* Colors */
  --hero-purple: #5d42ff;
  --hero-purple-highlighted: #4628ff;
  --hero-green: #4fd362;
  --hero-red: #d3624f;
  --hero-yellow: #ffc300;
  --hero-yellow-highlighted: #ffd23e;
  --hero-black: #000;
  --hero-white: #fff;
  --hero-grey: rgb(247, 247, 247);

  /* Common */
  --two-pane-divider-size: 5px;
  --two-pane-divider-color: #1b2631;

  /* Code Display */
  --code-padding-vertical: 2px;

  /* Sidebar */
  --tint-opacity: 0.9;
  --sidebar-min-width: 360px;
  --sidebar-width: 33%;
  --sidebar-padding: 1em;

  /* Nav Bar */
  --hamburger-icon-width: 32px;
  --hamburger-icon-height: 32px;

  /* Learning Module */
  --learning-module-height: calc(100vh - 6.5em);
}

/********* GLOBAL STYLES *********/
body {
  margin: 0;
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
  font-weight: 400;
}

footer {
  text-align: center;
  margin-top: 2em;
  padding: 1em;
}

h1 {
  font-weight: 700;
}

a {
  color: var(--hero-purple);
  text-decoration: none;
}

a:hover {
  color: var(--hero-purple-highlighted);
}

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

code {
  font-family: Menlo, Monaco, "Courier New", monospace, sans-serif;
}

button,
input {
  outline: none;
}

svg {
  display: block;
}

.invisible {
  opacity: 0;
  z-index: -2;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.inline,
.inline code {
  display: inline !important; /* override highlightJS */
  color: black;
}

/* override highlightJS and make all inline code black regardless of classes */
.inline * {
  color: inherit !important;
}

.inline-block {
  display: inline-block;
}

.app {
  height: 100vh;
}

/* TODO: REMOVE ONCE TEXT AND VISUALIZATION CONTENT IMPLEMENTED */
.filler-text {
  font-size: 14pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/********* HOMEPAGE *********/
.transluscent-black {
  color: rgba(0, 0, 0, 0.3);
}

.opaque-black {
  color: rgba(0, 0, 0, 1);
}

.green {
  color: var(--hero-green);
}

.red {
  color: var(--hero-red);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8em 0;
}

.img-container {
  width: 450px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-image {
  margin: 0 5em 0 0;
}

.right-image {
  margin: 0 0 0 5em;
}

.about-text-container {
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.text-container {
  width: 30%;
}

.text-container h1 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.text-container p {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0.5em;
}

#linked-list {
  background-color: var(--hero-grey);
}

#guided-container {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#free-container {
  background: linear-gradient(
    to right,
    var(--hero-purple),
    rgba(196, 59, 255, 0.6)
  );
  padding: 0;
}

#free-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto auto;
  padding: 3em 4em;
  width: 80%;
  clip-path: inset(0% 0%);
  overflow: hidden;
}

#free-get-started-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  transition: all 0.3s ease;
  transform: translateX(0px);
}

#free-get-started-container:hover {
  cursor: pointer;
  transform: translateX(10px);
}

#free-get-started-container h2 {
  margin: 0;
  font-size: 18px;
}

#free-card-container .img-container {
  width: 100px;
  margin: auto auto;
}

#free-node-1 {
  transform: scale(5) translateX(0.5em) translateY(-1.1em);
}

#free-node-2 {
  transform: scale(5) translateX(0.5em) translateY(2.7em);
}

#free-card-container .text-container {
  width: 45%;
}

#free-card-container h2 {
  margin-bottom: 0;
}

/********* HERO HOMEPAGE *********/
.landing-hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 6em 4em 2em 4em;
  height: calc(100vh - 12em);
}

.landing-hero-container h1 {
  font-size: 60px;
}

.landing-hero-container p {
  font-size: 20px;
  margin: 0.2em;
  width: 55%;
}

.hero-btn {
  padding: 1.1em;
  margin: 1em 0;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--hero-purple);
  font-size: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.hero-btn:hover {
  cursor: pointer;
  background-color: var(--hero-purple-highlighted);
}

.hero-circle {
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background-color: var(--hero-purple);
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
}

.hero-circle:hover {
  cursor: pointer;
  background-color: var(--hero-purple-highlighted);
}

/********* LINKED LIST ILLUSTRATION HOMEPAGE *********/
.linked-list-illustration-container {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.linked-list-node {
  border: 2px solid var(--hero-purple);
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: black;
}

.linked-list-node:hover {
  cursor: default;
}

.linked-list-pointer {
  border: 2px solid var(--hero-purple);
  background-color: var(--hero-purple);
  width: 10%;
  height: 0;
}

.linked-list-highlight {
  background-color: var(--hero-purple);
  color: white;
}

.linked-list-controls {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.linked-list-btn {
  margin: 0 1em;
}

/********* CATALOG ILLUSTRATION HOMEPAGE *********/
.catalog-card-container-homepage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.catalog-card-homepage {
  margin: 0.5em;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid var(--hero-purple);
  width: 150px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.6s;
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
  clip-path: inset(0% 0% round 5px);
}

.catalog-card-homepage:hover {
  transform: scale(1.03);
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: default;
}

.catalog-card-homepage h2 {
  font-size: 20px;
}

.card-circle {
  z-index: -1;
  position: absolute;
  top: -30px;
  left: 140px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--hero-purple),
    rgba(4, 27, 199, 0.5)
  );
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  transform: scale(1);
}

.catalog-card-homepage:hover > .card-circle {
  transform: scale(7);
}

/********* PROGRESS ILLUSTRATION HOMEPAGE *********/
.progress-row-container {
  display: flex;
  margin-bottom: 1em;
}

.progress-circle-home {
  border: 2px solid var(--hero-purple);
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
}

.progress-circle-filled-home {
  border: 2px solid var(--hero-purple);
  background-color: var(--hero-purple);
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
}

.progress-line {
  border: 2px solid var(--hero-purple);
  border-radius: 5px;
  width: 80%;
}

.progress-line-filled {
  background-color: var(--hero-purple);
  border: 2px solid var(--hero-purple);
  border-radius: 5px;
  width: 80%;
}

/********* TEAM HOMEPAGE *********/
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.team-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.team-card {
  margin: 1em;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.team-card img {
  margin: 0;
  width: 250px;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.team-card h2 {
  margin: 0;
  padding-left: 0.7em;
  padding-top: 0.5em;
  font-size: 20px;
}

.team-card a {
  display: block;
  padding-left: 0.9em;
  padding-bottom: 1em;
  margin: 0;
}

/********* NAV BAR COMPONENT *********/
.nav-bar-container {
  display: flex;
  align-items: center;
}

.module-nav-bar {
  justify-content: flex-start;
  padding: 0.25em 1.5em 0.25em 1.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 3em;
}

.homepage-nav-bar {
  justify-content: space-between;
  padding: 1em 1.5em;
}

/* Adjust modules button, title, and links container to have the same width */
.module-nav-bar .nav-back-btn,
.module-nav-bar .nav-bar-container h1,
.module-nav-bar .nav-links-container {
  flex: 1;
  cursor: inherit;
}

.module-nav-bar .nav-back-btn {
  text-align: left;
}

.module-nav-bar .nav-bar-container h1 {
  text-align: center;
}

.module-nav-bar .nav-links-container {
  text-align: right;
}

.nav-bar-container h1 {
  margin: 0;
  padding: 0;
}

.nav-bar-container h1 > a {
  color: black;
  font-size: 22px;
  display: block;
  margin: 0;
  padding: 0;
}

.nav-bar-container h1 > a:hover {
  color: var(--hero-purple-highlighted);
}

.nav-bar-container a {
  font-size: 15px;
  text-decoration: none;
}

.user-account-circle {
  background-color: var(--hero-purple);
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.user-account-circle:hover {
  cursor: pointer;
}

.nav-links-container {
  float: right;
}

.nav-links-container a {
  margin-left: 2em;
  color: var(--hero-purple);
  position: relative;
}

/*
  Animating Underline in Navigation Bar
  Source: http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
.nav-links-container a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hero-purple);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-links-container a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-back-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  float: left;
}

.nav-back-btn:hover {
  cursor: pointer;
}

.nav-back-btn p {
  color: black;
  margin-left: 0.3em;
  cursor: pointer;
}

.hamburger-icon {
  width: var(--hamburger-icon-width);
  height: var(--hamburger-icon-height);
  cursor: pointer;
}

/********* FOOTER COMPONENT *********/
.footer-container {
  padding: 2em 4em;
}

.footer-container img {
  display: block;
  width: 35px;
  height: 35px;
}

.footer-container hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-link-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.footer-link-container h2 {
  font-size: 20px;
}

.footer-link-container a {
  line-height: 2em;
}

.footer-company-column,
.footer-catalog-column {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 8em;
}

.footer-catalog-links {
  display: grid;
  grid-template-rows: repeat(4, 2em);
  grid-column-gap: 4em;
  grid-auto-flow: column;
}

.footer-copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright-container p {
  text-align: center;
}

.footer-copyright-container > * {
  flex: 1;
}

.footer-legal-container {
  text-align: right;
}

.footer-legal-container a {
  margin: 0 1em;
}

/********* Sidebar *********/
.sidebar {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: var(--sidebar-min-width);
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);
  background: var(--hero-purple);
  overflow-x: hidden;
  white-space: nowrap;
}

.sidebar-right {
  right: 0;
  left: auto;
}

.sidebar .hide-bottom-border {
  border-bottom: none !important;
}

.sidebar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.go-back-summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 14px;
  margin: 0.5em 0 0.5em -0.32em;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.go-back-summary:hover {
  transform: translateX(0.5em);
}

.go-back-summary p {
  margin: 0;
}

.sidebar-close {
  display: block;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
  transform: scale(1);
}

.sidebar-close:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.sidebar-header {
  color: white;
  margin-top: 1em;
  font-size: 24px;
}

.sidebar-header span {
  cursor: pointer;
}

.sub-module-progress-row-container {
  padding: 5px 0;
  color: white;
  display: flex;
  align-items: center;
}

.sidebar h3 {
  font-weight: normal;
}

.progress-row-selected h3 {
  font-weight: bold;
}

.sub-module-progress-row-container:not(.syllabus-row)
  .sub-module-title-container {
  cursor: pointer;
}

.sub-module-title-container {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 48px;
  padding: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sub-module-title-container a {
  color: white;
}

.summary-module-btn {
  padding: 0.5em 2em;
  border-radius: 3px;
  border: 2px solid var(--hero-purple);
  font-size: 12pt;
  font-weight: 700;
}

.summary-module-btn:hover {
  background-color: var(--hero-purple);
  color: var(--hero-white);
  cursor: pointer;
}

.progress-circle-filled {
  cursor: pointer;
  border: 2px solid white;
  background-color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: var(--hero-purple);
  border: 2px solid var(--hero-purple);
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sidebar-fade-in {
  animation: sidebarFadeIn ease-in-out 0.4s;
}

.sidebar-fade-out {
  animation: sidebarFadeOut ease-in-out 0.4s;
  animation-delay: 0.2s;
}

@keyframes sidebarFadeIn {
  0% {
    min-width: 0;
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
  100% {
    padding-left: var(--sidebar-padding);
    padding-right: var(--sidebar-padding);
    min-width: var(--sidebar-min-width);
    width: var(--sidebar-width);
  }
}

@keyframes sidebarFadeOut {
  0% {
    min-width: var(--sidebar-min-width);
    width: var(--sidebar-width);
    padding-left: var(--sidebar-padding);
    padding-right: var(--sidebar-padding);
  }
  100% {
    min-width: 0;
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-tint {
  z-index: 1;
  opacity: var(--tint-opacity);
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tint-fade-in {
  animation: tintFadeIn ease-in-out 0.4s;
}

.tint-fade-out {
  animation: tintFadeOut ease-in-out 0.4s;
  animation-delay: 0.2s;
}

@keyframes tintFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--tint-opacity);
  }
}

@keyframes tintFadeOut {
  0% {
    opacity: var(--tint-opacity);
  }
  100% {
    opacity: 0;
  }
}

/********* LEARNING MODULE *********/
.catalog-hero-container {
  padding: 0 1.5em;
}

.catalog-hero-container p {
  margin-bottom: 1.5em;
}

.catalog-page hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border-style: none;
}

.catalog-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  justify-items: center;
  padding: 1em 1.5em 2em 1.5em;
  margin: 3em 0;
}

.catalog-card {
  margin: 0;
  padding: 1em;
  width: 275px;
  height: 140px;
  border-top: 8px solid var(--hero-purple);
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.catalog-card:hover {
  transform: scale(1.01);
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.3);
}

.catalog-card h2 {
  font-size: 20px;
  margin: 0;
}

.catalog-card p {
  font-size: 16px;
}

.coming-soon {
  background-color: var(--hero-grey);
}

.learning-module-container {
  border-radius: 5px;
  margin: 0;
  height: var(--learning-module-height);
}

[data-tour-elem="controls"] {
  justify-content: center;
}

[data-tour-elem="right-arrow"] > svg,
[data-tour-elem="left-arrow"] > svg {
  color: var(--hero-black);
}

[data-tour-elem="right-arrow"]:disabled > svg,
[data-tour-elem="left-arrow"]:disabled > svg {
  opacity: 0.5;
}

[data-tour-elem="dot"] {
  width: 12px;
  height: 12px;
  border-color: var(--hero-black);
}

#___reactour {
  text-align: center;
}

.reactour__close {
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
}

/********* RESIZABLE PANE COMPONENT *********/
.two-column-container {
  display: flex;
  height: 100%;
}

.two-column-container-horizontal {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* TODO make these look cleaner */
.two-column-divider {
  background-color: var(--two-pane-divider-color);
  cursor: col-resize;
  width: var(--two-pane-divider-size);
}

/* TODO make these look cleaner */
.two-column-divider-horizontal {
  background-color: var(--two-pane-divider-color);
  width: 100%;
  height: var(--two-pane-divider-size);
  cursor: row-resize;
}

.pane {
  overflow: auto;
  height: 100%;
  min-width: 20%;
  max-width: 80%;
  position: relative;
}

.second-pane {
  /* Hack to prevent visualization from overflowing vertically */
  overflow-x: auto;
  overflow-y: hidden;
}

.pane-resizing {
  overflow: hidden;
  cursor: col-resize;
}

.pane-resizing-horizontal {
  overflow: hidden;
  cursor: row-resize;
}

.pane-title {
  position: absolute;
  margin: 0;
  top: 0;
  right: 10px;
  font-size: 14px;
  background-color: var(--hero-purple);
  color: var(--hero-white);
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/********* ANIMATION BUTTONS *********/
.module-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  bottom: 0;
  margin: 0;
  left: 0;
  height: 3em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.module-btn-container button,
.tour-end-btn {
  background-color: var(--hero-purple);
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1em 2em;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.module-btn-container button:hover {
  background-color: var(--hero-purple-highlighted);
  cursor: pointer;
}

.animate-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.animate-btn-container button {
  margin: 0 0.5em;
  border-radius: 30px;
}

.animate-btn-container button:disabled {
  cursor: default;
  background-color: gray;
}

.back-next-container {
  /* Keep the width even when the button is hidden to keep flex spacing the same */
  width: 150px;
}

.back-next-container button {
  margin: 0 1.25em;
}

.next-btn {
  display: flex;
  justify-content: flex-end;
}

/********* TEXT CONTENT COMPONENT *********/
.text-content-container {
  padding: 2em 1.5em 1.5em 1.5em;
}

.text-content-container h1 {
  font-size: 20px;
}

.text-content-container h2 {
  font-size: 18px;
}

.text-content-paragraphs .standard-code {
  background-color: rgba(30, 30, 30, 0.1);
  border-radius: 3px;
  padding: 0 0.2em;
}

/********* Sign In / Up *********/
.sign-in-up-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4em);
  margin-top: -5em;
}

.sign-in-up-container {
  width: 30%;
  text-align: center;
  margin: auto;
}

.sign-in-up-container.cookies-required {
  width: 70%;
}

.sign-in-dropdown .sign-in-up-container {
  width: 80%;
}

.sign-in-dropdown .sign-in-up-flex-container {
  margin-top: 0;
}

.sign-in-dropdown {
  padding: 12px;
}

.sign-in-dropdown h1 {
  padding-bottom: 12px;
}

.sign-in-up-input {
  padding: 0.5em;
  border: 2px solid var(--hero-purple);
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  /* 100% - the extra space created by padding / border */
  width: calc(100% - 1em - 4px);
}

.accept-cookie-label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  text-align: left;
  margin-top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accept-cookie-label input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: calc(50% - 13px);
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #eee;
  border-radius: 8px;
}

.checkmark:hover {
  background-color: #ccc;
}

.accept-cookie-label input:checked ~ .checkmark {
  background-color: var(--hero-purple);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.accept-cookie-label input:checked ~ .checkmark:after {
  display: block;
}

.accept-cookie-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* autofill to prevent chrome from autofilling with small fonts */
.sign-in-up-input:-webkit-autofill::first-line {
  font-size: 25px;
}

.sign-in-up-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-in-up-error {
  padding: 10px;
  width: 75%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background-color: var(--hero-yellow);
}

.password {
  margin-top: 20px;
}

.sign-in-dropdown {
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  transform: scale(0.7);
  top: 4em;
  right: 7em;
  transform-origin: top right;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-top: 8px solid var(--hero-purple);
}

.sign-in-dropdown .sign-in-up-flex-container {
  display: block;
  height: auto;
}

.sign-in-up-circle-lg {
  position: absolute;
  margin-left: calc(50vw - 50%);
  border-radius: 25% 75% 52% 48% / 69% 44% 56% 31%;
  background: linear-gradient(to right, var(--hero-yellow), rgba(0, 0, 0, 0.2));
  min-height: 35em;
  min-width: 35em;
  z-index: -1;
  overflow: hidden;
}

.sign-in-up-circle-md {
  position: absolute;
  margin-left: calc(50vw - 50%);
  border-radius: 25% 75% 52% 48% / 69% 44% 56% 31%;
  background: linear-gradient(to right, var(--hero-yellow), rgba(0, 0, 0, 0.2));
  min-height: 25em;
  min-width: 25em;
  z-index: -1;
  overflow: hidden;
}

.sign-in-up-circle-sm {
  position: absolute;
  margin-left: calc(50vw - 50%);
  border-radius: 25% 75% 52% 48% / 69% 44% 56% 31%;
  background: linear-gradient(to right, var(--hero-yellow), rgba(0, 0, 0, 0.2));
  min-height: 15em;
  min-width: 15em;
  z-index: -1;
  overflow: hidden;
}

/********* Error Pages Page *********/
.page-not-found {
  text-align: center;
}

/********* CODE DISPLAY *********/
.code-display-container {
  overflow: auto;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.code-format {
  transition: position 1s;
  margin: 0;
}

.hljs {
  /* highlight JS created class */
  padding: var(
    --code-padding-vertical
  ) !important; /* important to override any of the highlight styles */
}

@keyframes delay-overflow {
  from {
    overflow-y: hidden;
  }
}

.chunk {
  min-width: 100%;
}

.chunk-open {
  max-height: 1000px; /* Note: this is a default, but it gets overridden by JS on resize */
  transition: 0.5s;
  animation: 1.5s delay-overflow;
}

.chunk-collapsed {
  max-height: 20px; /* Note: this is a default, but it gets overridden by JS on resize */
  overflow-y: hidden;
  transition: 0.5s;
}

.hidden-chunk {
  background-color: #d6d0ff;
}

.hidden-chunk .code-line {
  overflow: hidden;
}

.selected-line {
  background-color: var(--hero-yellow);
}

.code-line {
  min-width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: monospace;
}

.code-content {
  width: 100%;
  margin-left: 18px;
}

.line-number {
  min-width: 20px;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: var(--code-padding-vertical);
  padding-bottom: var(--code-padding-vertical);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Chevrons based on https://codepen.io/egf/pen/jzylw */
.chevron {
  transition: 0.5s;
}

.chevron::before {
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 5px;
  transform: rotate(-45deg);
  width: 0.45em;
  transition: 0.5s;
  vertical-align: top;
}

.chevron:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.chevron.right:before {
  transform: rotate(45deg);
}

.chevron.bottom:before {
  transform: rotate(135deg);
}

.chevron-container {
  align-self: flex-start;
}

.chevron-offset {
  margin-right: -30px; /*arbitrarily larger number than space it takes */
}

/********* CODE DISPLAY TOOLTIPS *********/
.tooltip {
  padding: 10px;
  display: block;
  position: fixed;
  max-width: 300px;
  color: #ffffff;
  background: #000000;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  /* Prevent highlighting tooltips, so users can copy and paste code from the website */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tooltip:not(.invisible) {
  opacity: 0.9;
}

.tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.tooltip-indicator {
  margin-right: -30px; /*arbitrarily larger number than space it takes */
}
.tooltip-indicator:before {
  cursor: default;
  content: "?";
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 13px;
  height: 13px;
  font-size: 13px;
  line-height: 13px;
  border-radius: 13px;
  padding: 1px;
  background: white;
  border: 1px solid black;
  text-decoration: none;
}

/********* Visualizations *********/

text {
  font-weight: 700;
}

.hidden {
  opacity: 0;
}

#head-pointer {
  fill: var(--hero-red);
}

.node circle {
  fill: var(--hero-black);
}

.node > rect {
  fill: var(--hero-purple);
  width: 150px;
  height: 100px;
}

.node-header rect {
  width: 150px;
  height: 2px;
}

.node-data-field rect,
.node-next-field > rect {
  width: 50px;
  height: 20px;
}

.node-header,
.node-data-field,
.node-next-field {
  fill: var(--hero-white);
}

.node-data-text {
  fill: var(--hero-black);
}

.node-pointer rect {
  fill: var(--hero-black);
  height: 4px;
}

/********* VARIABLE TABLE VISUALIZATIONS *********/

.row-bg {
  width: 200px;
  height: 30px;
  fill: var(--hero-purple);
}

.row-cell {
  width: 94px;
  height: 22px;
  fill: var(--hero-white);
}

#var-table-title-row .row-cell {
  fill: var(--hero-purple);
}

/********* Summary Page *********/
.summary-hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    rgba(4, 27, 199, 0.7),
    rgba(4, 27, 199, 0.8)
  );
  padding: 4em 4em 4em 4em;
  clip-path: inset(0% 0%);
}

.summary-hero-content {
  z-index: 2;
}

.summary-hero-container h1 {
  font-size: 60px;
  color: var(--hero-white);
}

.summary-hero-container button {
  background-color: var(--hero-yellow);
  color: var(--hero-black);
}

.summary-hero-content button:disabled {
  background-color: gray;
  cursor: default;
  color: white;
}

.summary-hero-container button:hover:not(:disabled) {
  background-color: var(--hero-yellow-highlighted);
}

.summary-hero-illustration-container {
  position: absolute;
}

.summary-hero-circle {
  margin-left: calc(100vw - 45em);
  border-radius: 25% 75% 52% 48% / 69% 44% 56% 31%;
  background: linear-gradient(to right, var(--hero-yellow), rgba(0, 0, 0, 0.2));
  min-height: 40em;
  min-width: 40em;
}

.summary-page-description {
  font-size: 20px;
}

.summary-page-content {
  margin: auto;
}

.summary-page-content h2 {
  font-size: 35px;
}

.summary-get-started-container {
  text-align: center;
}

.summary-overview-container {
  padding: 0 4em 2em 4em;
  margin: 5em 0;
}

.summary-modules-container {
  margin-top: 4em;
  width: 100%;
  background-color: var(--hero-grey);
  position: relative;
}

.summary-modules {
  position: absolute;
  top: -2.5em;
  width: calc(100% - 8em - 3px);
  margin: 0 4em 0 4em;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border-left: 6px solid var(--hero-purple);
}

.syllabus-row {
  background: var(--hero-white);
  padding: 1em;
}

.syllabus-row:not(:nth-last-child(1)) {
  border-bottom: 2px solid var(--hero-grey);
}

.syllabus-row:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.syllabus-row:nth-last-child(1) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.syllabus-row a {
  color: var(--hero-black);
  font-size: 22px;
}

/********* COOKIE CONSENT BANNER *********/

.cookie-consent-banner {
  bottom: -100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--hero-black);
  color: white;
  width: calc(90% - 2em);
  left: 5%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.cookie-consent-banner-loaded {
  bottom: 2em;
}

.cookie-consent-banner p {
  max-width: 80%;
  margin: 0;
  padding: 0;
}

.cookie-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-buttons button {
  padding: 0.5em;
  width: 5em;
  margin: 0 0.5em;
}

.reject-btn {
  background-color: var(--hero-grey);
  color: var(--hero-black);
}

.reject-btn:hover {
  background-color: var(--hero-white);
}

.cookie-deny-modal {
  z-index: 2;
  position: fixed;
  top: 10%;
  width: 50%;
  max-height: 75%;
  overflow: auto;
  left: 25%;
  background-color: var(--hero-white);
  border-radius: 8px;
  padding: 2em;
  color: black;
}

.cookie-deny-buttons {
  display: flex;
  justify-content: space-around;
}

.cookie-deny-buttons button {
  margin-top: 0;
  width: 40%;
  color: var(--hero-white);
}

/********* Privacy Policy *********/

.privacy-policy {
  width: 80%;
  margin: auto;
}

.privacy-policy header {
  text-align: center;
}

.privacy-section {
  margin-bottom: 40px;
}

.privacy-section h2 {
  margin: 0;
}

.privacy-policy-allow-cookies {
  display: flex;
  align-items: center;
  background-color: var(--hero-grey);
  border-radius: 5px;
  padding: 0 2em;
  width: 70%;
  margin: auto;
  margin: 1em auto;
}

.privacy-policy-allow-cookies p {
  max-width: 70%;
  margin-right: 20px;
}

/********* Small Mobile Styles *********/
@media only screen and (max-width: 320px) {
  /********* LANDING PAGE *********/
  .homepage-nav-bar {
    padding: 1em 2em;
  }

  .homepage-nav-bar h1 a {
    font-size: 22px;
  }

  .nav-links-container {
    display: none;
  }

  .landing-hero-container {
    padding: 6em 2em 2em 2em;
    position: relative;
  }

  .landing-hero-container h1 {
    font-size: 35px;
    margin-top: -80px;
  }

  .landing-hero-container button {
    font-size: 14px;
  }

  .hero-circle {
    display: none;
  }

  .content-container {
    height: 80vh;
    padding: 0 2em;
    flex-direction: column;
  }

  .content-container .text-container {
    width: 100%;
    margin-bottom: 2.5em;
  }

  .content-container .text-container h1 {
    font-size: 26px;
  }

  .content-container .text-container p {
    font-size: 14px;
  }

  .content-container .img-container {
    width: 100%;
  }

  .content-container .left-image,
  .content-container .right-image {
    margin: 0;
  }

  #linked-list,
  #catalog-container {
    flex-direction: column-reverse;
  }

  .linked-list-node {
    min-width: 40px;
    min-height: 40px;
    border-width: 2px;
    font-size: 20px;
  }

  .linked-list-btn {
    font-size: 12px;
  }

  .progress-circle-home,
  .progress-circle-filled-home {
    min-width: 40px;
    min-height: 40px;
  }

  #catalog-container {
    height: 100%;
    padding: 5em 2em;
  }

  .catalog-card-homepage {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    border-width: 2px;
    color: white;
    background: linear-gradient(
      to right,
      var(--hero-purple),
      rgba(4, 27, 199, 0.5)
    );
  }

  .catalog-card-homepage h2 {
    font-size: 16px;
  }

  .card-circle {
    display: none;
  }

  #free-container,
  #free-card-container {
    height: 60vh;
  }

  #free-card-container {
    width: 100%;
    padding: 0;
  }

  #free-card-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
  }

  #free-get-started-container h2 {
    font-size: 16px;
  }

  #free-card-container .text-container {
    width: 80%;
    padding: 4em 0;
    margin: 0;
  }

  #free-container .img-container {
    height: 100%;
  }

  #free-node-1 {
    display: none;
  }

  #free-node-2 {
    transform: scale(2.7) translateX(0em) translateY(0.8em);
  }

  .footer-container {
    padding: 2em 2em 1em 2em;
  }

  .footer-copyright-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footer-copyright-container > * {
    margin: 0.75em 0;
  }

  .footer-container img {
    display: none;
  }

  .footer-container p,
  .footer-container a {
    font-size: 15px;
  }

  /********* SIGN IN/UP PAGE *********/
  .sign-in-up-container {
    width: 80%;
    margin-top: 8em;
  }

  .sign-in-up-container h1 {
    font-size: 25px;
    margin: 0.5em auto;
  }

  .sign-in-up-container p {
    font-size: 16px;
    margin: 0.5em auto;
  }

  .sign-in-up-input {
    font-size: 16px;
  }

  .sign-in-up-button {
    font-size: 16px;
  }

  /********* CONTENT CATALOG PAGE *********/
  .catalog-hero-container {
    padding: 0 2em;
  }

  .catalog-hero-container h1 {
    font-size: 30px;
    margin-top: 1em;
  }

  .catalog-hero-container p {
    font-size: 16px;
  }

  .catalog-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    padding: 0;
  }

  .catalog-card {
    width: 60%;
    height: 180px;
    padding: 2em;
    margin: 1em 0;
    border-top-width: 10px;
  }

  .catalog-card h2 {
    font-size: 22px;
  }

  .catalog-card p {
    font-size: 16px;
  }

  /********* SUMMARY PAGE *********/
  .summary-hero-container {
    height: 40vh;
    padding: 4em 2em;
  }

  .summary-hero-content h1 {
    font-size: 35px;
  }

  .summary-hero-content button {
    font-size: 14px;
    padding: 1em;
  }

  .summary-hero-circle {
    display: none;
  }

  .summary-page-content h2 {
    font-size: 28px;
  }

  .summary-page-content p {
    font-size: 16px;
  }

  .summary-overview-container {
    padding: 0 2em 2em 2em;
  }

  .summary-modules-container {
    height: 900px;
  }

  .summary-modules {
    width: calc(100% - 4em - 3px);
    margin: 0 2em 0 2em;
  }

  .summary-modules .progress-circle-filled {
    width: 42px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
  }

  .syllabus-row {
    padding: 1.5em;
  }

  .syllabus-row a {
    font-size: 16px;
  }

  .sub-module-title-container {
    width: 90%;
  }

  .summary-module-btn {
    display: none;
  }

  /********* LEARNING MODULE PAGE *********/
  .device-too-small {
    margin: 4em 1.5em;
    text-align: center;
  }

  .device-too-small h1 {
    font-size: 24px;
  }

  .device-too-small p {
    font-size: 14px;
  }

  /********* PRIVACY POLICY PAGE *********/
  .privacy-policy {
    width: 80%;
    padding: 2em;
  }

  .privacy-policy header {
    text-align: left;
  }

  .privacy-policy h1 {
    font-size: 50px;
  }

  .privacy-policy h1 {
    font-size: 30px;
  }

  .privacy-policy p {
    font-size: 16px;
  }

  /********* COOKIE POLICY POPUP *********/
  .cookie-consent-banner {
    flex-direction: column;
  }

  .cookie-consent-banner p {
    max-width: 100%;
  }

  .cookie-buttons {
    margin: 1em 0;
  }

  .privacy-policy-allow-cookies {
    display: block;
    padding-top: 1em;
  }

  .privacy-policy-allow-cookies p {
    font-size: 16px;
    margin: 0;
    max-width: 100%;
  }

  .privacy-policy-allow-cookies .hero-btn {
    margin: 1em;
  }
}

/********* Medium-Large Mobile Styles *********/
@media only screen and (min-width: 321px) and (max-width: 430px) {
  /********* LANDING PAGE *********/
  .homepage-nav-bar {
    padding: 1em 2em;
  }

  .homepage-nav-bar h1 a {
    font-size: 22px;
  }

  .nav-links-container {
    display: none;
  }

  .landing-hero-container {
    padding: 6em 2em 2em 2em;
    position: relative;
  }

  .landing-hero-container h1 {
    font-size: 40px;
    margin-top: -150px;
  }

  .landing-hero-container button {
    font-size: 14px;
  }

  .hero-circle {
    align-self: center;
    position: absolute;
    bottom: 10px;
    min-width: 20px;
    min-height: 20px;
    font-size: 18px;
  }

  .content-container {
    height: 80vh;
    padding: 0 2em;
    flex-direction: column;
  }

  .content-container .text-container {
    width: 100%;
    margin-bottom: 2.5em;
  }

  .content-container .text-container h1 {
    font-size: 35px;
  }

  .content-container .text-container p {
    font-size: 16px;
  }

  .content-container .img-container {
    width: 100%;
  }

  .content-container .left-image,
  .content-container .right-image {
    margin: 0;
  }

  #linked-list,
  #catalog-container {
    flex-direction: column-reverse;
  }

  .linked-list-node {
    min-width: 40px;
    min-height: 40px;
    border-width: 2px;
    font-size: 20px;
  }

  .linked-list-btn {
    font-size: 12px;
  }

  .progress-circle-home,
  .progress-circle-filled-home {
    min-width: 40px;
    min-height: 40px;
  }

  #catalog-container {
    height: 100%;
    padding: 5em 2em;
  }

  .catalog-card-homepage {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    border-width: 2px;
    color: white;
    background: linear-gradient(
      to right,
      var(--hero-purple),
      rgba(4, 27, 199, 0.5)
    );
  }

  .catalog-card-homepage h2 {
    font-size: 18px;
  }

  .card-circle {
    display: none;
  }

  #free-container,
  #free-card-container {
    height: 60vh;
  }

  #free-card-container {
    width: 100%;
    padding: 0;
  }

  #free-card-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
  }

  #free-get-started-container h2 {
    font-size: 20px;
  }

  #free-card-container .text-container {
    width: 80%;
    padding: 4em 0;
    margin: 0;
  }

  #free-container .img-container {
    height: 100%;
  }

  #free-node-1 {
    display: none;
  }

  #free-node-2 {
    transform: scale(3.5) translateX(0em) translateY(1em);
  }

  .footer-container {
    padding: 2em 2em 1em 2em;
  }

  .footer-copyright-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footer-copyright-container > * {
    margin: 0.75em 0;
  }

  .footer-container img {
    display: none;
  }

  .footer-container p,
  .footer-container a {
    font-size: 15px;
  }

  /********* SIGN IN/UP PAGE *********/
  .sign-in-up-container {
    width: 80%;
  }

  .sign-in-up-container h1 {
    font-size: 30px;
    margin: 0.5em auto;
  }

  .sign-in-up-container p {
    font-size: 16px;
    margin: 0.5em auto;
  }

  .sign-in-up-input {
    font-size: 18px;
  }

  .sign-in-up-button {
    font-size: 18px;
  }

  /********* CONTENT CATALOG PAGE *********/
  .catalog-hero-container {
    padding: 0 2em;
  }

  .catalog-hero-container h1 {
    font-size: 34px;
    margin-top: 1em;
  }

  .catalog-hero-container p {
    font-size: 18px;
  }

  .catalog-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    padding: 0;
  }

  .catalog-card {
    width: 68%;
    height: 140px;
    padding: 2em;
    margin: 1em 0;
    border-top-width: 10px;
  }

  .catalog-card h2 {
    font-size: 22px;
  }

  .catalog-card p {
    font-size: 18px;
  }

  /********* SUMMARY PAGE *********/
  .summary-hero-container {
    height: 40vh;
    padding: 4em 2em;
  }

  .summary-hero-content h1 {
    font-size: 50px;
  }

  .summary-hero-content button {
    font-size: 16px;
    padding: 1em;
  }

  .summary-hero-circle {
    display: none;
  }

  .summary-page-content h2 {
    font-size: 38px;
  }

  .summary-page-content p {
    font-size: 18px;
  }

  .summary-overview-container {
    padding: 0 2em 2em 2em;
  }

  .summary-modules-container {
    height: 900px;
  }

  .summary-modules {
    width: calc(100% - 4em - 3px);
    margin: 0 2em 0 2em;
  }

  .syllabus-row {
    padding: 1.5em;
  }

  .syllabus-row a {
    font-size: 18px;
  }

  .sub-module-title-container {
    width: 90%;
  }

  .summary-module-btn {
    display: none;
  }

  /********* LEARNING MODULE PAGE *********/
  .device-too-small {
    margin: 5em 1.5em;
    text-align: center;
  }

  .device-too-small h1 {
    font-size: 29px;
  }

  .device-too-small p {
    font-size: 16px;
  }

  /********* PRIVACY POLICY PAGE *********/
  .privacy-policy {
    width: 80%;
    padding: 2em;
  }

  .privacy-policy header {
    text-align: left;
  }

  .privacy-policy h1 {
    font-size: 50px;
  }

  .privacy-policy h1 {
    font-size: 30px;
  }

  .privacy-policy p {
    font-size: 16px;
  }

  /********* COOKIE POLICY POPUP *********/
  .cookie-consent-banner {
    flex-direction: column;
  }

  .cookie-consent-banner p {
    max-width: 95%;
  }

  .cookie-buttons {
    margin: 1em 0;
  }

  .privacy-policy-allow-cookies {
    display: block;
    padding-top: 1em;
  }

  .privacy-policy-allow-cookies p {
    font-size: 16px;
    margin: 0;
    max-width: 100%;
  }

  .privacy-policy-allow-cookies .hero-btn {
    margin: 1em;
  }
}

/********* Tablet Styles *********/
@media only screen and (min-width: 431px) and (max-width: 960px) {
  /********* LANDING PAGE *********/
  .homepage-nav-bar {
    padding: 1em 2em;
  }

  .homepage-nav-bar h1 a {
    font-size: 26px;
  }

  .nav-links-container {
    display: none;
  }

  .landing-hero-container {
    padding: 6em 2em 2em 2em;
    position: relative;
  }

  .landing-hero-container h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .landing-hero-container button {
    font-size: 16px;
  }

  .hero-circle {
    align-self: center;
    position: absolute;
    bottom: 10px;
    min-width: 20px;
    min-height: 20px;
    font-size: 18px;
  }

  .content-container {
    height: 80vh;
    padding: 0 2em;
    flex-direction: column;
  }

  .content-container .text-container {
    width: 100%;
    margin-bottom: 2.5em;
  }

  .content-container .text-container h1 {
    font-size: 50px;
  }

  .content-container .text-container p {
    font-size: 18px;
  }

  .content-container .img-container {
    width: 100%;
  }

  .content-container .left-image,
  .content-container .right-image {
    margin: 0;
  }

  #linked-list,
  #catalog-container {
    flex-direction: column-reverse;
  }

  .linked-list-illustration-container {
    display: flex;
    justify-content: center;
  }

  .linked-list-node {
    min-width: 60px;
    min-height: 60px;
    border-width: 2px;
    font-size: 24px;
  }

  .linked-list-btn {
    font-size: 16px;
  }

  .progress-circle-home,
  .progress-circle-filled-home {
    min-width: 60px;
    min-height: 60px;
  }

  #catalog-container {
    height: 100%;
    padding: 7em 2em;
  }

  .catalog-card-homepage {
    width: 70%;
    margin: 0.5em 0;
    padding: 1em;
    border-width: 2px;
    color: white;
    background: linear-gradient(
      to right,
      var(--hero-purple),
      rgba(4, 27, 199, 0.5)
    );
  }

  .catalog-card-homepage h2 {
    font-size: 20px;
  }

  .card-circle {
    display: none;
  }

  #free-container,
  #free-card-container {
    height: 50vh;
  }

  #free-card-container {
    width: 100%;
    padding: 0;
  }

  #free-card-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
  }

  #free-get-started-container h2 {
    font-size: 20px;
  }

  #free-card-container .text-container {
    width: 90%;
    padding: 4em 0;
    margin: 0;
  }

  #free-container .img-container {
    height: 100%;
  }

  #free-node-1 {
    display: none;
  }

  #free-node-2 {
    transform: scale(6.5) translateX(0em) translateY(1.5em);
  }

  .footer-container {
    padding: 2em 2em 0.5em 2em;
  }

  .footer-copyright-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footer-copyright-container > * {
    margin: 0.75em 0;
  }

  .footer-container img {
    display: none;
  }

  .footer-container p,
  .footer-container a {
    font-size: 18px;
  }

  /********* SIGN IN/UP PAGE *********/
  .sign-in-up-container {
    width: 80%;
  }

  .sign-in-up-container h1 {
    font-size: 30px;
    margin: 0.5em auto;
  }

  .sign-in-up-container p {
    font-size: 16px;
    margin: 0.5em auto;
  }

  .sign-in-up-input {
    font-size: 18px;
  }

  .sign-in-up-button {
    font-size: 18px;
  }

  /********* CONTENT CATALOG PAGE *********/
  .catalog-hero-container {
    padding: 0 2em;
  }

  .catalog-hero-container h1 {
    font-size: 34px;
    margin-top: 1em;
  }

  .catalog-hero-container p {
    font-size: 18px;
  }

  .catalog-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    padding: 0;
  }

  .catalog-card {
    width: 68%;
    height: 140px;
    padding: 2em;
    margin: 1em 0;
    border-top-width: 10px;
  }

  .catalog-card h2 {
    font-size: 22px;
  }

  .catalog-card p {
    font-size: 18px;
  }

  /********* SUMMARY PAGE *********/
  .summary-hero-container {
    height: 30vh;
    padding: 4em 2em;
  }

  .summary-hero-content h1 {
    font-size: 60px;
  }

  .summary-hero-content button {
    font-size: 16px;
    padding: 1em;
  }

  .summary-hero-circle {
    display: none;
  }

  .summary-page-content h2 {
    font-size: 38px;
  }

  .summary-page-content p {
    font-size: 18px;
  }

  .summary-overview-container {
    padding: 0 2em 2em 2em;
  }

  .summary-modules-container {
    height: 900px;
  }

  .summary-modules {
    width: calc(100% - 4em - 3px);
    margin: 0 2em 0 2em;
  }

  .syllabus-row {
    padding: 1.5em;
  }

  .syllabus-row a {
    font-size: 20px;
  }

  .sub-module-title-container {
    width: 90%;
  }

  .summary-module-btn {
    display: none;
  }

  /********* LEARNING MODULE PAGE *********/
  .device-too-small {
    margin: 5em 1.5em;
    text-align: center;
  }

  .device-too-small h1 {
    font-size: 30px;
  }

  .device-too-small p {
    font-size: 18px;
  }

  /********* PRIVACY POLICY PAGE *********/
  .privacy-policy {
    width: 91%;
    padding: 2em;
  }

  .privacy-policy header {
    text-align: left;
  }

  .privacy-policy h1 {
    font-size: 50px;
  }

  .privacy-policy h1 {
    font-size: 30px;
  }

  .privacy-policy p {
    font-size: 16px;
  }

  /********* COOKIE POLICY POPUP *********/
  .cookie-consent-banner {
    flex-direction: column;
  }

  .cookie-buttons {
    margin: 5px;
  }

  .privacy-policy-allow-cookies {
    display: block;
    padding-top: 1em;
  }

  .privacy-policy-allow-cookies p {
    margin: 0;
    max-width: none;
  }

  .privacy-policy-allow-cookies .hero-btn {
    margin: 1em;
  }

  /********* COOKIE POLICY POPUP *********/
  .cookie-consent-banner {
    flex-direction: column;
  }

  .cookie-consent-banner p {
    max-width: 95%;
  }

  .cookie-buttons {
    margin: 1em 0;
  }

  .privacy-policy-allow-cookies {
    display: block;
    padding-top: 1em;
  }

  .privacy-policy-allow-cookies p {
    font-size: 16px;
    margin: 0;
    max-width: 100%;
  }

  .privacy-policy-allow-cookies .hero-btn {
    margin: 1em;
  }
}

/********* Desktop Styles *********/
@media only screen and (min-width: 961px) {
  /* POTENTIAL TODO: Move desktop specific styles written before all media queries into this media query */
}

/********* Big Desktop Styles *********/
@media only screen and (min-width: 2000px) {
  /********* LANDING PAGE *********/
  .homepage-nav-bar h1 a {
    font-size: 32px;
  }

  .nav-links-container a {
    font-size: 18px;
  }

  .landing-hero-container {
    padding: 6em 6em 2em 6em;
    position: relative;
  }

  .landing-hero-container h1 {
    font-size: 110px;
    margin-top: -100px;
  }

  .landing-hero-container button {
    font-size: 20px;
  }

  .hero-circle {
    align-self: center;
    position: absolute;
    bottom: 30px;
  }

  .content-container {
    height: 80vh;
    padding: 0;
  }

  .content-container .text-container {
    width: 800px;
  }

  .content-container .text-container h1 {
    font-size: 80px;
  }

  .content-container .text-container p {
    font-size: 28px;
  }

  .content-container .img-container {
    width: 700px;
  }

  .linked-list-node {
    min-width: 80px;
    min-height: 80px;
    border-width: 3px;
    font-size: 30px;
  }

  .linked-list-btn {
    font-size: 18px;
  }

  .progress-circle-home,
  .progress-circle-filled-home {
    min-width: 80px;
    min-height: 80px;
  }

  .catalog-card-homepage {
    width: 200px;
    padding: 1.5em;
    border-width: 3px;
  }

  .catalog-card-homepage h2 {
    font-size: 25px;
  }

  .card-circle {
    left: 200px;
    min-width: 90px;
    min-height: 90px;
  }

  #free-container {
    height: 60vh;
  }

  #free-card-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  #free-get-started-container h2 {
    font-size: 30px;
  }

  #free-container .img-container {
    height: 60vh;
  }

  #free-node-1 {
    transform: scale(9.25) translateX(0.2em) translateY(-1.4em);
  }

  #free-node-2 {
    transform: scale(9.25) translateX(0.2em) translateY(2.9em);
  }

  .footer-container {
    padding: 2em 4em;
  }

  .footer-container img {
    min-width: 40px;
    min-height: 40px;
  }

  .footer-container p,
  .footer-container a {
    font-size: 18px;
  }

  /********* SIGN IN/UP PAGE *********/
  .sign-in-up-container {
    width: 25%;
  }

  .sign-in-up-container h1 {
    font-size: 38px;
    margin: 0.5em auto;
  }

  .sign-in-up-container p {
    font-size: 20px;
    margin: 0.5em auto;
  }

  .sign-in-up-button {
    font-size: 18px;
  }

  /********* CONTENT CATALOG PAGE *********/
  .catalog-hero-container h1 {
    font-size: 50px;
    margin-top: 1em;
  }

  .catalog-hero-container p {
    font-size: 25px;
  }

  .catalog-card-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 4em;
    margin: 4em 0;
    padding: 2em;
  }

  .catalog-card {
    width: 330px;
    height: 180px;
    padding: 2em;
    border-top-width: 10px;
  }

  .catalog-card h2 {
    font-size: 30px;
  }

  .catalog-card p {
    font-size: 20px;
  }

  /********* SUMMARY PAGE *********/
  .summary-hero-container {
    height: 40vh;
  }

  .summary-hero-content h1 {
    font-size: 100px;
  }

  .summary-hero-content button {
    font-size: 20px;
    padding: 1em;
  }

  .summary-hero-circle {
    min-width: 50em;
    min-height: 50em;
    margin-left: calc(100vw - 55em);
  }

  .summary-page-content h2 {
    font-size: 45px;
  }

  .summary-page-content p {
    font-size: 22px;
  }

  .summary-overview-container {
    padding: 0 10em 2em 10em;
  }

  .summary-modules-container {
    height: 900px;
  }

  .summary-modules {
    width: calc(100% - 20em - 3px);
    margin: 0 10em 0 10em;
  }

  .syllabus-row {
    padding: 1.5em;
  }

  .sub-module-title-container {
    width: 90%;
  }

  .summary-module-btn {
    font-size: 18px;
  }

  /********* LEARNING MODULE PAGE *********/
  .module-nav-bar,
  .module-btn-container {
    height: 4em;
  }

  .module-nav-bar h1 a {
    font-size: 32px;
  }

  .nav-back-btn p {
    font-size: 18px;
  }

  .go-back-summary p {
    font-size: 18px;
  }

  .learning-module-container {
    height: calc(100vh - 8.5em);
  }

  .text-content-container h1 {
    font-size: 30px;
  }

  .text-content-container h2 {
    font-size: 25px;
  }

  .text-content-container p {
    font-size: 18px;
  }

  .code-line {
    font-size: 18px;
  }

  .chunk .chunk-open {
    max-height: 100px;
  }

  .module-btn-container button {
    font-size: 14px;
  }

  /********* PRIVACY POLICY PAGE *********/
  .privacy-policy {
    width: 70%;
  }

  .privacy-policy h1 {
    font-size: 50px;
  }

  .privacy-policy h1 {
    font-size: 30px;
  }

  .privacy-policy p {
    font-size: 18px;
  }
}
