/* CSS Variables */
:root {
  /* Common */
  --two-pane-divider-size: 5px;
  --two-pane-divider-color: black;

  /* Code Display */
  --code-padding-vertical: 2px;
}

body {
  margin: 0;
  font-family: -apple-system, sans-serif;
}

.App {
  height: 100vh;
}

/*********** COMMON COMPONENTS ***********/

.two-column-container {
  display: flex;
  height: 100%;
}

.two-column-container-horizontal {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* TODO make these look cleaner */
.two-column-divider {
  background-color: var(--two-pane-divider-color);
  cursor: col-resize;
  width: var(--two-pane-divider-size);
}

/* TODO make these look cleaner */
.two-column-divider-horizontal {
  background-color: var(--two-pane-divider-color);
  width: 100%;
  height: var(--two-pane-divider-size);
  cursor: row-resize;
}

.pane {
  overflow: hidden;
  height: 100%;
}

.pane-resizing {
  overflow: hidden;
  cursor: col-resize;
}

.pane-resizing-horizontal {
  overflow: hidden;
  cursor: row-resize;
}

/*********** CODE DISPLAY ***********/

.code-display {
  overflow: scroll;
  height: 100%;
}

.code-format {
  transition: position 1s;
  margin: 0;
}

.hljs { /* highlight JS created class */
  padding: var(--code-padding-vertical) !important; /* important to override any of the highlight styles */
}

@keyframes delay-overflow {
  from {
    overflow-y: hidden;
  }
}

.chunk {
  min-width: 100%;
}

.chunk-open {
  max-height: 1000px;
  /* overflow-y: hidden; */
  transition: 1s;
  animation: 1s delay-overflow;
}

.chunk-collapsed {
  max-height: 18px; /* TODO this should probably be calculated somehow */
  overflow-y: hidden;
  transition: .5s;
}

.hidden-chunk {
  background-color: lightgray;
}

.selected-line {
  background-color: lightyellow;
}

.code-line {
  min-width: 100%;
  display: flex;
  font-size: 13px;
  font-family: monospace;
}

.code-content {
  width: 100%;
  margin-left: 10px;
}

.line-number {
  min-width: 15px;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: var(--code-padding-vertical);
  padding-bottom: var(--code-padding-vertical);
  user-select: none;
}

/* Chevrons based on https://codepen.io/egf/pen/jzylw */
.chevron {
  transition: .5s;
}

.chevron::before {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 5px;
	transform: rotate(-45deg);
	width: 0.45em;
  transition: .5s;
  vertical-align: top;
}

.chevron:hover {
  transform: scale(1.1);
  transition: .5s;
}

.chevron.right:before {
	transform: rotate(45deg);
}

.chevron.bottom:before {
	transform: rotate(135deg);
}
